/Christian Algo/JavaApplication5/nbproject/private/
/Christian Algo/Client/nbproject/private/
/Christian Algo/TimeServer/nbproject/private/
/Christian Algo/Client/build/
/Christian Algo/TimeServer/build/